<%= form_with(model: media_handle) do |form| %>
  <% if media_handle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(media_handle.errors.count, "error") %> prohibited this media_handle from being saved:</h2>

      <ul>
        <% media_handle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Only allow admin to change the user foreign key -->
  <% if Current.user.is_admin? %>
    <div class="field">
      <!-- Change the ID to a dropdown -->
      <%= form.label :alumnus_id %>
      <%= form.select :alumnus_id, User.where("role_id = 3").order(:last_name).map { |user| [user.first_name + " " + user.last_name + " - " + String(user.graduation_year), user.alumnus.id] }, include_blank: false, id: "id_of_the_alumnus_id_select_box" %>
    </div>
  <% else %>
    <!-- Just display the name of the user -->
    <h3><%= Current.user.first_name %> <%= Current.user.last_name %></h3>
    <%= form.hidden_field :alumnus_id, value: Current.user.alumnus.id %>
  <% end %>

  <div class="field">
    <%= form.label :platform %>
    <%= form.select :platform, ["Facebook", "GitHub", "GroupMe", "Instagram", "LinkedIn", "Pinterest", "Reddit", "Snapchat", "TikTok", "Twitter", "WhatsApp", "YouTube", "Other"], selected: "Other" %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.url_field :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
