<p id="notice"><%= notice %></p>

<h1>Media Handles</h1>

<table>
  <thead>
    <tr>
      <th>Alumnus</th>
      <th>Platform</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_handles.each do |media_handle| %>
      <tr>
        <td><%= media_handle.alumnus_id %></td>
        <td><%= media_handle.platform %></td>
        <td><%= media_handle.link %></td>
        <td><%= link_to 'Show', media_handle %></td>
        <td><%= link_to 'Edit', edit_media_handle_path(media_handle) %></td>
        <td><%= link_to 'Destroy', media_handle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media Handle', new_media_handle_path %>
