<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_attendee.meeting.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_attendee.user.first_name %> <%= @event_attendee.user.last_name %>
</p>

<%= link_to 'Edit', edit_event_attendee_path(@event_attendee) %> |
<%= link_to 'Back', Current.previous_path %>
