
<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<h3>Documentation and Database Tables</h3>
<ul>
  <li><%= link_to 'Documentation', '/admin/documentation' %></li>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Alumni', alumni_path %></li>
  <li><%= link_to 'Social Media Accounts', media_handles_path %></li>
  <li><%= link_to 'Events', meetings_path %></li>
  <li><%= link_to 'Event Attendees', event_attendees_path %></li>
  <li><%= link_to 'Roles', roles_path %></li>
  <li><%= link_to 'Majors', majors_path %></li>
  <li><%= link_to 'Job Categories', job_categories_path %></li>
</ul>

<% if @users.size > 0 %>
<h3><%= @users.size %> Users Awaiting Approval</h3>
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Major</th>
      <th>Graduation year</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.role.name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.major_name_if_present %></td>
        <td><%= user.graduation_year %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id)%></td>
        <td><%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_with url: "/admin/approve/", method: :post do |form| %>
              <%= form.hidden_field :user_id, value: user.id %>
              <div class="actions">
                <%= form.submit "Approve"%>
              </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>