<%= form_with(model: calendarevent) do |form| %>
  <% if calendarevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendarevent.errors.count, "error") %> prohibited this calendarevent from being saved:</h2>

      <ul>
        <% calendarevent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :calendar_id %>
    <%= form.number_field :calendar_id %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
