<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendarevent.title %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @calendarevent.calendar_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @calendarevent.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @calendarevent.end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calendarevent.location %>
</p>

<%= link_to 'Edit', edit_calendarevent_path(@calendarevent) %> |
<%= link_to 'Back', calendarevents_path %>
