<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if is_sign_up? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <%end%>

  <% if is_sign_up? %>
    <div class="field">
      <%= form.label :role_name %>
      <!-- Changed role_id to role_name -->
      <%= form.select :role_id, Role.where.not(id: 1).order(:name).map { |role| [role.name, role.id] }, include_blank: false, id: "id_of_the_role_id_select_box" %>
    </div>
  <%elsif is_admin? && session[:user_id] != user.id%>
    <div class="field">
      <%= form.label :role_name %>
      <!-- Changed role_id to role_name -->
      <%= form.select :role_id, Role.order(:name).map { |role| [role.name, role.id] }, include_blank: false, id: "id_of_the_role_id_select_box" %>
    </div>
  <%else%>
    <div class="field">
      <%= form.label :role_name %>
      <!-- Changed role_id to role_name -->
      <%= form.select :role_id, Role.where(id: user.role).order(:name).map { |role| [role.name, role.id] }, include_blank: false, id: "id_of_the_role_id_select_box" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name%>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :major_name %>
    <!-- Changed major_id to major_name -->
    <%= form.select :major_id, Major.order(:name).map { |major| [major.name, major.id] }, include_blank: false, id: "id_of_the_major_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :graduation_year %>
    <%= form.number_field :graduation_year %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>