<p id="notice"><%= notice %></p>

<p>
  <strong>Role name:</strong>
  <%= @user.role.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major.name %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @user.graduation_year %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', Current.previous_path %>
