<h1>Directory</h1>
<h3>Found <%= @users.size %> matches</h3>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Major</th>
      <th>Graduation year</th>
      <th>Job category</th>
      <th>Job title</th>
      <th>Employer</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.major.name %></td>
        <td><%= user.graduation_year %></td>
        <td><%= user.alumnus.job_category.name %></td>
        <td><%= user.alumnus.job_title %></td>
        <td><%= user.alumnus.employer %></td>
        <td><%= link_to 'View', '/directory/' + String(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
