<h1>Directory</h1>
<h3>Found <%= @alumni.size %> matches</h3>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Major</th>
      <th>Graduation year</th>
      <th>Job Category</th>
      <th>Job Title</th>
      <th>Employer</th>
      <th>Picture</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @alumni.each do |alumnus| %>
      <tr>
        <td><%= alumnus.first_name %></td>
        <td><%= alumnus.last_name %></td>
        <td><%= alumnus.major.name %></td>
        <td><%= alumnus.graduation_year %></td>
        <td><%= @alumni_info[i].job_category.name %></td>
        <td><%= @alumni_info[i].job_title %></td>
        <td><%= @alumni_info[i].employer %></td>
        <td>"Picture"</td>
        <td><%= link_to 'View', '/directory/' + String(alumnus.id) %></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>
