<p id="notice"><%= notice %></p>

<h1><%= @alumnus.first_name %> <%= @alumnus.last_name %></h1>

<p>
  <strong>Major:</strong>
  <%= @alumnus.major %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @alumnus.graduation_year %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alumnus.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @alumnus.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @alumnus_info.bio %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @alumnus_info.job_title %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @alumnus_info.employer %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @alumnus_info.availability %>
</p>

<% @alumnus_handles.each do |handle| %>
  <p>
    <strong><% handle.platform %>L</strong>
    <%= link_to(handle.link, handle.link) %>
  </p>
<% end %>

<%= link_to 'Back', '/directory' %>
