<p id="notice"><%= notice %></p>

<h1><%= @alumnus.first_name %> <%= @alumnus.last_name %></h1>

<p>
  <strong>Major:</strong>
  <%= @alumnus.major %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @alumnus.graduation_year %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alumnus.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @alumnus.phone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @alumnus_info.bio %>
</p>

<p>
  <strong>Job Title:</strong>
  <%= @alumnus_info.job_title %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @alumnus_info.employer %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @alumnus_info.availability %>
</p>


<%= link_to 'Back', '/directory' %>
