<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :email, placeholder: "Email", class: "form-control" , readonly: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :role_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <!-- Changed role_id to role_name -->
      <%= form.select :role_id, Role.unprivileged.order(:name).map { |role| [role.name, role.id] }, include_blank: false, id: "id_of_the_role_id_select_box" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :first_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :first_name, placeholder: "First Name", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :last_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :major_name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <!-- Changed major_id to major_name -->
      <%= form.select :major_id, Major.order(:name).map { |major| [major.name, major.id] }, include_blank: false, id: "id_of_the_major_id_select_box" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :graduation_year, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.number_field :graduation_year, placeholder: "Graduation Year", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :phone, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :phone, placeholder: "Phone Number", class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Create Account", class: "btn btn-primary btn-block btn-top-margin" %>
  </div>
<% end %>