<%= form_with(model: alumnus) do |form| %>
  <% if alumnus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumnus.errors.count, "error") %> prohibited this alumnus from being saved:</h2>

      <ul>
        <% alumnus.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if alumnus.user %>
    <h3><%= alumnus.user.first_name %> <%= alumnus.user.last_name %></h3>
  <% else %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.number_field :user_id %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title %>
  </div>

  <div class="field">
    <%= form.label :job_category_id %>
    <!-- Changed job_category_id to job_category_name -->
    <%= form.select :job_category_id, JobCategory.order(:name).map { |job_category| [job_category.name, job_category.id] }, include_blank: false, id: "id_of_the_job_category_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :employer_id %>
    <!-- Changed employer_id to employer_name -->
    <%= form.select :employer_id, Employer.order(:name).map { |employer| [employer.name, employer.id] }, include_blank: false, id: "id_of_the_employer_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.text_area :availability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
