<%= form_with(model: alumnus) do |form| %>
  <% if alumnus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumnus.errors.count, "error") %> prohibited this alumnus from being saved:</h2>

      <ul>
        <% alumnus.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Only allow admin to change the user foreign key -->
  <% if Current.user.is_admin? %>
    <div class="field">
      <!-- Change the ID to a dropdown -->
      <%= form.label :user_id %>
      <%= form.select :user_id, User.where("role_id = 3").order(:last_name).map { |user| [user.first_name + " " + user.last_name + " - " + String(user.graduation_year), user.id] }, include_blank: false, id: "id_of_the_user_id_select_box" %>
    </div>
  <% else %>
    <!-- Just display the name of the user -->
    <h3><%= Current.user.first_name %> <%= Current.user.last_name %></h3>
    <%= form.hidden_field :user_id, value: Current.user.id %>
  <% end %>

  <div class="field">
    <%= form.label "Profile Photo" %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title %>
  </div>

  <div class="field">
    <%= form.label :job_category_id %>
    <!-- Changed job_category_id to job_category_name -->
    <%= form.select :job_category_id, JobCategory.order(:name).map { |job_category| [job_category.name, job_category.id] }, include_blank: false, id: "id_of_the_job_category_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :employer %>
    <%= form.text_field :employer %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.text_area :availability %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
