<p id="notice"><%= notice %></p>

<h1>Alumni</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bio</th>
      <th>Job Title</th>
      <th>Job Category</th>
      <th>Employer</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.alumnus.bio %></td>
        <td><%= user.alumnus.job_title %></td>
        <td><%= user.alumnus.job_category.name %></td>
        <td><%= user.alumnus.employer %></td>
        <td><%= user.alumnus.availability %></td>
        <td><%= link_to 'Show', user.alumnus %></td>
        <td><%= link_to 'Edit', edit_alumnus_path(user.alumnus) %></td>
        <td><%= link_to 'Destroy', user.alumnus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumnus', new_alumnus_path %>
