<p id="notice"><%= notice %></p>

<p>
  <%= link_to image_tag(@alumnus.image_as_thumbnail), @alumnus.image if @alumnus.image.attached? %>
</p>

<p>
  <strong>User:</strong>
  <%= @alumnus.user.first_name %> <%= @alumnus.user.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @alumnus.bio %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @alumnus.job_title %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @alumnus.job_category.name %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @alumnus.employer %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @alumnus.availability %>
</p>

<%= link_to 'Edit', edit_alumnus_path(@alumnus) %> |
<%= link_to 'Back', Current.previous_path %>
