<p id="notice"><%= notice %></p>

<h1>Role Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Permission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_permissions.each do |role_permission| %>
      <tr>
        <td><%= role_permission.role_id %></td>
        <td><%= role_permission.permission_id %></td>
        <td><%= link_to 'Show', role_permission %></td>
        <td><%= link_to 'Edit', edit_role_permission_path(role_permission) %></td>
        <td><%= link_to 'Destroy', role_permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role Permission', new_role_permission_path %>
