<!DOCTYPE html>
<html>
  <head>
    <title>AlumniTraq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <!-- This puts the navbar on each page -->
        <li><%= link_to 'Directory', '/' %></li>
        <li><%= link_to 'Calendar', '/calendarevents' %></li>
        <!-- Put Admin if role == admin -->
        <li><%= link_to 'Settings', '/settings' %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
