<!DOCTYPE html>
<html>

  <head>
    <title>AlumniTraq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if Current.user %>
      <nav class="navbar navbar-expand-lg" style="background-image: url('https://marcomm.tamu.edu/_files/img/work-with-us_2400.jpg');">
        <div class="container-fluid" style="padding: 30px 30px 80px 30px;">
          <a class="navbar-brand"></a>
          <img src="https://images.squarespace-cdn.com/content/v1/568841be5a56682e0b8162f2/1510940137363-1T0H93GH67WNQO652JN2/amalogo.png?format=1500w" alt="Logo" class="main-text">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse go-right" id="navbarText">
            <ul class="navbar-nav">
              <li class="nav-item">
                <li><%= link_to 'Directory', '/', class: "nav-text" %></li>
              </li>
              <li class="nav-item">
                <li><%= link_to 'Calendar', '/meetings', class: "nav-text" %></li>
              </li>
              <li class="nav-item">
                <li><%= link_to 'FAQ', '/faq', class: "nav-text" %></li>
              </li>
              <% if Current.user.is_admin? %>
                <li class="nav-item">
                  <li><%= link_to 'Admin', admin_index_path, class: "nav-text" %></li>
                </li>
              <% end %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img
                    src="https://i.pinimg.com/564x/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.jpg"
                    class="rounded-circle"
                    height="35"
                    alt="Profile Pic"
                    loading="lazy"
                  />
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <li><%= link_to "Settings", Current.user, class: "dropdown-item" %></li>  
                  </li>
                  <li>
                    <li><%= button_to "Logout", logout_path, method: :delete, class: "dropdown-item" %></li>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item-text"><%= Current.user.first_name %> <%= Current.user.last_name %></a>
                  </li>
                </ul>
              </li>

              <!-- Google Translate -->
              <div id="google_translate_element"></div>
              <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement(
                      {pageLanguage: 'en'},
                      'google_translate_element'
                  );
              }
              </script>
    
              <script type="text/javascript"
                src= "https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
              </script>
            </ul>
          </div>
          </a>
        </div>
      </nav>

  
    <% end %>

    <%= yield %>
  </body>

</html>