<!DOCTYPE html>
<html>
  <head>
    <title>AlumniTraq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if Current.user %>
      <nav>
        <ul>
          <!-- This puts the navbar on each page -->
          <li><%= link_to 'Directory', '/' %></li>
          <li><%= link_to 'Calendar', '/events' %></li>
          <!-- Put Admin if role == admin -->
          <li style="display: flex; color: #666"><%= link_to("#{Current.user.first_name} #{Current.user.last_name}", '/settings', class: "profile-tab") %> | <%= button_to("Logout", logout_path, method: :delete) %></li>
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
